@font-face {
  font-family: SkillHorizon;
  src: url('../shared/fonts/JetBrainsMono-Regular.ttf') format('ttf');
}

html,
body,
#root {
  box-sizing: border-box;
  font-family: SkillHorizon, Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

[class^='ant-'] {
  scrollbar-width: auto !important;
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #131414 inset;
  transition: background-color 5000s ease-in-out 0s;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(100deg, #4f46e5, #a855f7);
  border-radius: 99px;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
