.hero {
  padding: 60px 40px;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.heroImage {
  width: 100%;
  height: 400px;
  background: url('./img.png') no-repeat center right;
  background-size: contain;
  border-radius: 10px;
}
