.container {
  padding: 24px;
}

.statsRow {
  margin-bottom: 24px;
}

.growthText {
  margin-top: 16px;
}

.progress {
  margin-top: 16px;
}

.coursesRow {
  margin-top: 24px;
}

.courseProgress {
  width: 100px;
}

.statsCard {
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  color: white !important;

  &:hover {
    color: #f0f0f0 !important;
  }
}
